<div class="container-fluid">  
  <h1 class="display-5">Redeem Prizes</h1>
  <hr>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Filters</h5>
          <div class="form-group">
              <input type="text" [(ngModel)]="search" placeholder="Search:" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Products</h5>
              <div class="row">
                <div class="col-sm-6" *ngFor="let product of products; let i=index">
                  <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/id/{{i + 200}}/200/200" alt="">
                    <div class="card-body">
                      <h5 class="card-title">Title</h5>
                      <p class="card-text">Content</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>