<nav class="navbar" style="background-color:#db411b">
  </nav>
<header class="navbar navbar-expand flex-md-row sw-navbar">
  <span class="spacer d-md-none"></span>
  <button style="margin-top: 11px !important; margin-right: 11px; color: #0057b8" type="button" id="sidebarCollapse" class="btn btn-link d-none d-md-block">
      <span class="oi oi-menu"></span>
  </button>
  <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Swastika I/O">
      <img src="assets/img/bussiness/horizontal.png" width="100px">
  </a>
  <ul class="nav-item dropdown navbar-nav flex-row ml-md-auto d-md-flex">
      <li class="nav-item dropdown">
          <a *ngIf="this.hide" class="nav-link dropdown-toggle" style="font-size:.9em !important" href="javascript:void(0)" id="navbardrop" data-toggle="dropdown">Usuario pruebas</a>
          <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" (click)="logout()" href="javascript:void(0)"><span class="oi oi-power-standby"></span> &nbsp;&nbsp;Logout</a>
          </div>
      </li>
  </ul>
  <button class="btn btn-link sw-search-docs-toggle d-md-none p-0" type="button" data-toggle="collapse" data-target="#sw-docs-nav" aria-controls="sw-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false">
          <title>Menu</title>
          <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path>
      </svg>
  </button>
</header>
<div class="container-fluid wrapper">  
  <main class="sw-content">
    <router-outlet></router-outlet>
  </main>
</div>

