<div class="container-fluid">
  <h1 class="display-5">Welcome to Endava Coins</h1>
  <hr>
  <div class="row">
    <div class="col-sm-6 mt-2">
      <div class="card w-60 ml-3">
        <img class="card-img-top" src="assets/img/main/saldo.jpg">
        <div class="card-body">
            <button [routerLink]="['/check/balance']"  class="btn btn-light btn-lg"><strong>CHECK BALANCE</strong></button>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-2">
      <div class="card w-60 ml-3">
        <img class="card-img-top" src="assets/img/main/transferencia.jfif">
        <div class="card-body">
          <button  [routerLink]="['/transfer']"  class="btn btn-light btn-lg"><strong>TRANSFERS</strong></button>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-2">
      <div class="card w-60 ml-3">
        <img class="card-img-top" src="assets/img/main/canjear.png">
        <div class="card-body">
            <button [routerLink]="['/redeem/prizes']"  class="btn btn-light btn-lg"><strong>REDEEM PRIZES</strong></button>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-2">
      <div class="card w-60 ml-3">
        <img class="card-img-top" src="assets/img/main/salir.jpg">
        <div class="card-body">
            <button  (click)="goOut()" class="btn btn-light btn-lg"><strong>SALIR</strong></button>
        </div>
      </div>
    </div>
  </div>
</div>

